{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "rules": {
    "react/prop-types": 0,
    "react/no-unused-state": 0,
    "no-console": 0,
    "no-unused-expressions": [2, { "allowTernary": true }],
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0,
    "import/extensions": 0
  }
}
