{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "plugins": [
    "babel"
  ],
  "rules": {
    "react/prop-types": 0,
    "no-console": 0,
    "no-unused-expressions": [2, { "allowTernary": true }],
    "babel/no-invalid-this": 1,
    "no-invalid-this": 0
  }
}
